<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('assets/nomadbarber.jpg');">
			<div class="cover-text text-center">
        <div class="text-on-image">
        	<p style="color:#fff;">Nomad × Salon</p>
        </div>
        <div class="text-on-image-small">
          <p>work anywhere , travel forever</p>
        </div>
          <div class="btn-group">
				    <p style="color: #fff;"><%= link_to "Sign up now", "#", class: "btn btn-lg btn-primary" %></p>
            <p style="color: #fff;"><%= link_to "Log in", "#", class: "btn btn-lg btn-success" %></p>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

</div>
