<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" >
			<div class="cover-text text-center">
        <div class="text-on-image">
        	<p style="color:#fff;">Nomad × Salon</p>
        </div>
        <div class="text-on-image-small">
          <p>work anywhere , travel forever</p>
        </div>
          <div class="btn-group">
				    <p style="color: #fff;"><%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %></p>
            <p style="color: #fff;"><%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %></p>

						<fb:login-button
						  scope="public_profile,email"
						  onlogin="checkLoginState();">
						</fb:login-button>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '398902647186372',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>
